<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="{{ ASSETS_ROOT }}/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">АРМ</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ ASSETS_ROOT }}/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="{% url 'logout' %}" class="d-block">
                    {{ request.user.username }} - Выйти
                </a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


                {% for item1 in SIDEBAR %}
                    <li class="nav-item {% if 'children' in item1 %} has-treeview {% endif %}">
                    <a href="{% if 'children' in item1 %}#{% else %}{{ item1.url }}{% endif %}" class="nav-link">
                        <i class="nav-icon fas fa-circle {{ item1.color }}"></i>
                        <p>
                            {{ item1.name }}
                            {% if 'children' in item1 %}<i class="right fas fa-angle-left"></i>{% endif %}
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                    {% if 'children' in item1 %}
                        {% for item2 in item1.children %}
                            <li class="nav-item">
                                <a href="{{ item2.url }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>{{ item2.name }}</p>
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
  